altgraph==0.17.5
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
browser-cookie3==0.20.1
click==8.3.2
Cython==3.2.4
fastapi==0.135.3
h11==0.16.0
idna==3.11
lz4==4.4.5
macholib==1.16.4
packaging==26.0
pycryptodomex==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
PySide6==6.11.0
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
setuptools==82.0.1
shiboken6==6.11.0
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.44.0
yt-dlp==2026.3.17
